@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    box-sizing: border-box;
}
body{

    font-family: "Ceviche","Gotham SSM B","Helvetica","Arial";
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    color: #000;
    margin: 0;
    display: block;
    background-image: url("backgroundnew.jpg");
    background-attachment: fixed;
    background-blend-mode: darken;
    background-size: cover;
    background-position: 0% 25%;
    transition: 3s;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
a, button, input {
    outline: medium none !important;
    color: #db2d2e;
}
div{
    display: block;
}
h6 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}
/*general classes*/
.row::before{
    content: "";
    display: table;
}
.sidebar{
    float: left;
    width:25%;
    height: 1008px;
    background: #fff;
}
.filters-div{
    padding: 20px;
    padding-right: 0;
    background: #ffffff;
    margin-bottom: 40px;
}
.filters-div .filter-title{
    color: #363636;
    clear: both;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}
.filters-div .filter-title::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #db2d2e;
    left: 0;
    bottom: 0px;
}
.filters{
    padding-right: 20px;
}
.filter-lists{
    position: relative;
    display: inline-block;
    width: 100%;
    background: none;
    padding: 0;
    margin: 0;
}
.filter-item{
    position: relative;
    font-family: Roboto;
    padding-top: 10px;
}
.filter-item select {
    display: none; /*hide original SELECT element: */
}
.select-selected {
    background-color: #db2d2e;
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: #db2d2e;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.cars-table{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 1008px;
    width: 75%;
    float: left;
    transition: height 250ms cubic-bezier(0.4,0,0.2,1) 0s;
    position: relative;
    margin-bottom: 40px;
    background: white;
}
.car-item{
    position: relative;
    top: 0px;
    left: 0px;
    visibility: visible;
    will-change: transform;
    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, opacity;
    width: 20%;
    float: left;
}
.car{
    border: 0;
    box-shadow: 0 0 1.5px 0 rgb(0 0 0 / 30%);
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    min-height: 336px;
    cursor: pointer;
}
.car .car-image-div {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.car-img{
    display: block;
    max-width: 100%;
    height: auto;
}
.car .car-banner{
    background: rgba(219,45,46,0.8) !important;
    position: absolute;
    top: -100%;
    z-index: 9;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-out 0s;
}
.car:hover .car-banner{
    opacity: 1;
    top: 0;
}
.car .car-banner ul {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    z-index: 99;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    list-style: none;
}
.car .car-banner ul li{
    display: inline-block;
    margin: 0 3px;
    line-height: 24px;
}
.car .car-banner ul li a{
    display: inline-block;
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    width: 36px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
}
.car .car-details {
    background: #ffffff;
    color: #363636;
    overflow: hidden;
    bottom: 0;
    height: 0;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-out 0s;
    width: 100%;
    z-index: 9;
    text-align: center;
    border-color: #dddddd;
}
.car:hover .car-details {
    height: 40px;
    border-bottom: 1px solid #f5f5f5;
}
.car .car-details .list-inline{
    padding: 5px 0;
    list-style: none;
}
.car .car-details .list-inline li{
    display: inline-block;
}
.car-content{
    padding: 20px;
}
.car-content a{
    font-size: 16px;
    font-weight: 600;
    color: #db2d2e;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}
.car-content .car-price span{
    color: #363636;
    font-weight: 700;
    font-size: 16px;
}
.body_header{
    background: transparent;
    z-index: 999;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
}
.logo_list{
    padding: 0px 0px;
    float: left;
    margin: 0px;
    list-style-type: none;
}
.header_content{
    display: block;
    box-sizing: border-box;
}
.menu{
    padding: 0 60px;
}
.header_row{
    margin-right: -15px;
    margin-left: -15px;
}
.header_col{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
}
.logo{
    height: 100px;
    width: 160px;
}
.header_links{
    float: right;
    margin-top: 30px;
    padding: 0px;
}
.header_links li{
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
}
.header_link{
    transition: all 0.5s ease-out 0s;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
}

.header_link:hover{
    color: #db2d2e;
}
.fixed-top{
    position: fixed;
    top:0;
    width: 1429.2px;
    background: rgba(0,0,0,0.8);
}
.account_btn{
    text-align: center;
    font-size: 15px;
    background: #db2d2e;
    color: #ffffff;
    display: inline-block;
    text-transform: capitalize;
    vertical-align: middle;
    padding: 10px 25px;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: background-color 0.5s ;
    /*transition: all 0.5s ease-out 0s;*/
    /*transition-property: color;*/
    /*transition-duration: 0.5s;*/
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);

}
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown:hover .dropbtn {
    background-color: #db2d2e;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: rgba(219,45,46,0.8);}

.dropdown:hover .dropdown-content {
    display: block;
}

.popup{
    position: absolute;
    top: 25%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.25);
    width: 300px;
    padding:20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}
.popup.active{
    top:50%;
    z-index: 1000;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
    opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}
.popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.popup .form h2{
    text-align: center;
    color: black;
    margin: 10px 0px 20px;
    font-size: 25px;
}
.popup .form .form-element{
    margin: 15px 0px;
}
.popup .form .form-element label{
    font-size: 14px;
    color: #222;

}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element input[type="submit"],
.popup .form .form-element input[type="button"]{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color:#f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}
.main_page{
    position: relative;
    z-index: 0;
    height: 666.2px;
    text-align: center;
    color: #fff;
}
.main_page_div{
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
}
.banner{
    position: absolute;
    width: 850px;
    left: 50%;
    top: 50%;
    margin-left: -425px;
    text-align: center;
    transform: translateY(-50%);
}

.banner .intro_text {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
}

.banner .intro_text:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: -95px;
    width: 190px;
    height: 26px;
    background: url(../images/title-bg.png) no-repeat;
    background-size: contain;
    z-index: -1;
}
.banner .front_text {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    position: relative;
    margin-top: 30px;
}
#fading {
    -webkit-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
    opacity: 0;
}


.banner .cf {
    margin-top: 40px;
    margin-bottom: 30px;
}
.banner .cf span {
    margin: 0 7px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.banner .cf span i {
    color: #db2d2e;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
    font-family: 'Poppins', sans-serif;
}
.footer-content{
    max-width: 1170px;

    margin: auto;
}
.footer-list{
    list-style: none;
    padding-inline-start: 0px;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #db2d2e;
    height: 2px;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 7px;
}
.footer-col .social-footer a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-footer a:hover{
    color: #db2d2e;
    background-color: #ffffff;
}
::selection {
    background: #db2d2e;
    color: #fff;
    text-shadow: none;
}
/*ID Styles*/
#typing {
    color: #db2d2e;
    opacity: 1;
}
